#main-container {
  display: flex;
  justify-content: center;
}

#main-container .content-container {
  /* background-color: #fcfdfd; */
  margin-top: 80px;
  width: 55%;
}

#main-container .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#main-container .header h1 {
  font-size: 40px;
}

#main-container .header .filter {
  display: flex;
  align-items: center;
  width: 35%;
  /* background-color: #fcfdfd; */
  justify-content: space-between;
}

#main-container .add-button {
  display: flex;
  align-items: center;
  background-color: #7c5df7;
  color: #fcfdfd;
  font-weight: bold;
  padding: 5px;
  border: 0;
  border-radius: 25px;
}

#main-container .add-button:hover {
  background-color: #634ac6;
}

#main-container .button-label {
  margin-left: 10px;
  margin-right: 8px;
}

section {
  margin-top: 80px;
}
